* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   
}

.container {
    margin-top: 15px;
    display: flex;
    align-items: row;
    justify-content: space-evenly;
    

}

.corretas {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: black solid 1px;
    width: 300px;
    height: 500px;
    background-color: chartreuse;
    border-radius: 5px; 
    font-size: 40px;
}

.erradas {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: black solid 1px;
    width: 300px;
    height: 500px;
    background-color: crimson;
    border-radius: 5px;
    font-size: 40px;
}